/*----------------------------------------------------------------------------------------------------
MAJOR TAGS
----------------------------------------------------------------------------------------------------*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*----------------------------------------------------------------------------------------------------
I need to figure out what ClearFix is.
----------------------------------------------------------------------------------------------------*/

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
}

/*----------------------------------------------------------------------------------------------------
SINGLE TAGS
----------------------------------------------------------------------------------------------------*/

h1 {
  color: rgb(0, 0, 0);
  font-size: 55px;
  margin-bottom: 20px;
}

h2 {
  color: rgb(0, 0, 0);
  font-size: 30px;
  margin-bottom: 10px;
}

h3 {
  color: rgb(0, 0, 0);
  font-size: 20px;
  margin-bottom: 10px;
}

/*----------------------------------------------------------------------------------------------------
SINGLE CLASSES
----------------------------------------------------------------------------------------------------*/

.links {
  padding: 0 0 30px 0;
}

.learning {
  padding: 0 0 30px 0;
}

.help {
  padding: 0 0 30px 0;
}

/*----------------------------------------------------------------------------------------------------
CONTAINER CLASSES
----------------------------------------------------------------------------------------------------*/

.container {
  width: 960px;
  margin: 20px auto 0 auto;
}

.blog_post {
  width: 75%;
  float: left;
  padding-right: 50px;
}

.extra_content {
  width: 25%;
  float: right;
}

.author {
  border-top: 3px solid black;
  padding: 15px;
}

/*----------------------------------------------------------------------------------------------------
CLASSES INSIDE OF CONTAINERS
----------------------------------------------------------------------------------------------------*/

.blog_text {
  text-align: justify;
  margin-bottom: 20px;
}

.author_name {
  font-size: 20px;
  float: left;
  margin: 40px 0 0 10px;
}

.author img {
  height: 100px;
  width: 100px;
  border-radius: 40%;
  float: left;
}

.extra_content img {
  height: 120px;
  width: 120px;
  margin: -20px 0 0 50px;
}
